<h1> A Node view </h1>

<!--{{message}}

<form action="/message" method="post">

    <input type="text" name="messageBody">
    <button type="submit">Enviar</button>

</form> -->

<form action="/node-mongodb-mongoose-user" method="post">
    <input type="text" name="emailBody">
    <button type="submit">Enviar</button>
</form>

<!-- Busca os dados de usuário -->
<h1> Dados de User Recuperados </h1>
{{ firstNameV }} <br>
{{ lastNameV }} <br>
{{ passwordV }} <br>
{{ emailV }} <br>
{{ messagesV }} <br>